body {
    font-family: Arial, Helvetica, sans-serif;
    color: #041F1E;
}

header {
    text-transform: uppercase;
    width: 800px;
    margin: auto;
    background-color: #1E2D2F;
    color: #ffffff;
    box-sizing: border-box;
    padding: 4px;
    border-bottom: 10px solid #C57B57;
    border-radius: 10px;
    box-shadow: 0 1px 4px #1E2D2F, 0 0 20px #1E2D2F inset;
}
header:hover {
    background-color: #C57B57;
    border-bottom: 10px solid #1E2D2F;
    opacity: 50%;
}
header h1 {
    margin-left: 20px;
}
header h3 {
    font-style: italic;
    margin-left: 20px;
}
article {
    width: 800px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 20px;
}
.experience, .jobs {
    display: flex;
}
.job {
    color: #5F706F;
}
.about-job {
    flex: 2;
    margin-left: 50px;
}
fieldset {
    background-color: #F7DBA7;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}   
fieldset:hover {
    background-color: #F1AB86;
}
legend {
    font-size: 1.4em;
    color: #5F706F;
    font-weight: bold;
}
.skills {
    display: flex;
}
.skill {
    display: inline-flex;
    margin-right: 50px;
    margin-bottom: 10px;
    padding: 4px;
    position: relative;
}
.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #1E2D2F;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 4px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip::after {
    content: attr(tooltip);
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #1E2D2F transparent transparent transparent;
}
.skill:hover .tooltip {
    visibility: visible;
    opacity: 1;
}